@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #111;
}

.container {
    max-width: 1230px;
    padding: 0px 30px;
    margin: 0 auto;
}

.header {
    padding: 45px 0px 0px 0px;
    background-color: #F1F1F1;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    padding: 0px 12px 0px 0px;

    position: relative;
}

.logo_name {
    display: inline-block;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}

.header__logo::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;

    position: absolute;
    right: 0px;
    bottom: 0px;
}